* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0px;
    font-size: 16px;
    color: #848687;
    font-weight: 400;
    line-height: 30px;
    background-color: #f3f5f7;
}

.top-header {
    background-color: #e9edf0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 15% 0 15%;
}

.row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.row-text {
    font-size: 14px;
}

.row-infor ul {
    display: flex; 
    padding: 0;
    margin: 0;
}

.row-infor ul li {
    padding: 0px 22px;
    font-size: 14px;
    font-weight: 700;
    color: #848687;
    list-style: none;
}

.header-wrapper {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-container input {
    width: 530px;
    padding: 10px 40px 10px 20px;
    border: 1.5px solid #888;
    border-radius: 5px;
    height: 54px;
    
}

.search-container i {
    position: absolute;
    right: -129px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
    padding: 12px;
}

.wrapper-decription {
    flex: 1;
    display: flex;
    align-items: center;
}

.account-section ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.account-section ul li {
    margin: 0 8px;
}

.account-section ul li a {
    transition: color 0.3s ease;
}

.account-section ul li:hover a {
    color: #46b8f1;
}

.account-section .title,
.account-section ul li a {
    color: #888;
    text-decoration: none;
    font-size: 16px;
}

.navgation {
    background-color: #0cafe5;
    height: 52px;
    width: 100%;
    top: 94px;
    position: sticky;
    z-index: 999;
}

.nav-content {
    margin-left: 284px;
}

.nav-content ul li {
    display: inline-block;
}

.nav-content ul li a {
    text-decoration: none;
    font-weight: 650;
    color: #fff;
    padding: 18px 22px;
    line-height: 52px;
    font-size: 14px;
}

.nav-content ul li a {
    transition: background-color 0.3s ease;
}

.nav-content ul li:hover a {
    background-color: #0796c5;
}

/* slider */

.slider {
    position: relative;
    width: 100%;
    height: 520px;
    overflow: hidden; 
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

.slider-captions {
    position: absolute;
    top: 40%; 
    left: 35%;
    transform: translate(-50%, -50%); 
    color: #000;
    text-align: center;
    z-index: 10;
    text-align: left;
    width: 486px;
    bottom: 90px;
}

.slider-captions .btn {
    padding: 18px 28px;
    font-size: 1rem;
    background-color: #0796c5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.slider-captions .btn:hover {
    background-color: #046a91;
}

.slider-text {
    margin-bottom: 48px;
    font-size: 14px;
}

.brand-img {
    margin-bottom: 20px;
}

.slider-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.slider-price {
    margin-bottom: 20px;
    font-size: 26px;
}

/*slider for js */

.item-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}


.item-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.item-slider.active {
    opacity: 1;
    z-index: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10; 
    display: block;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* content above */

.content-first {
    padding: 80px 0 80px 0;
}

.content-main {
    display: flex;
    justify-content: center;
}

.content-element {
    width: 262px;
    height: 302px;
    background-color: #e8eaec;
    margin: 30px;
    text-align: center;
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.content-element:not(.extend):hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.content-logo {
    margin-top: 50px;
}

.content-img {
    margin-top: 20px;
}

.extend {
    width: 586px;
    background-color: #fff;
}

.extend .content-logo {
    float: left;
    margin-left: 30px;
}

.extend .content-img {
    margin-top: 46px;
}

/* product new */

.content-second {
    background-color: #fff;
    margin: 0 340px 0 340px;
}

.content-second .text {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 16px;
}

hr {
    border: 0.1px solid #f9f9f9;
    margin-bottom: 36px;
}

.content-product {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
}

.element-product {
    border: 0.3px solid #f3f2f2;
    width: 248px;
    text-align: center;
}

.element-product img {
    margin-bottom: 40px;
}

.element-product:hover {
    cursor: pointer;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.name-product p {
    display: inline;
}

.name-product:hover p {
    color: #0796c5;
}

.price-product {
    display: inline;
}

.price-product:hover s {
    color: #0796c5;
    text-decoration: none;
}

.icon-product {
    font-size: 18px;
}


.product-btn {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    line-height: 1.2;
    padding: 10px 7px;
    display: inline-block;
    font-size: 15px;
}

.product-btn:hover {
    filter: brightness(85%);
}

.btn-like {
    background-color: #fb730f;
    color: #fff;
}

.btn-cart {
    background-color: #0cafe5;
    color: #fff;
}
